@import '../main'

.console
  height: 269px !important
  p
    text-align: left
  .row
    justify-content: flex-end

#log-anchor-up
  border-color: $font-color
  color: $font-color

#log-anchor-up:hover
  background-color: $font-color
  color: $invert-font-color