$primary-color: #62c4ff
$background-color: #222225
$font-color: #e8e9ed
$invert-font-color: #222225
$general-font: "Lucida Console", serif
$global-font-size: 15px

body
  background-color: $background-color
  font-family: $general-font
  color: $font-color

.panel
  border: 3px solid $font-color
  border-radius: 0.5rem
  height: 250px
  overflow: hidden

  .title
    font-size: $global-font-size
    text-transform: capitalize
    margin: 5px

  .panel-header
    color: $font-color
